*{
    font-family: 'Poppins', sans-serif;
}

.header .navbar{
    background-color: #002F7B !important;
}

.nav-link{
    color: #AFEB8F !important;
    /* margin: 1px; */
}

.nav-link:hover{
    color: aliceblue !important;
}

.navbar-toggler{
    margin-bottom: 5px;
}

.nav-link.active{
    background-color: #AFEB8F !important;
    color: #002F7B !important;
    border-radius: 10px;
}

.content{
    background-color: #002F7B;
    color: #AFEB8F !important;
}

.text-body-secondary{
    color: #AFEB8F !important;
}

.content .container .row{
    border: 1px solid #AFEB8F;
    border-radius: 10px;
}

.footer{
    background-color: #002F7B;
}

.col h3{
    color: #AFEB8F !important;
}

footer .text-body-secondary{
    color: #AFEB8F !important;
}

footer > ul.border-bottom {
    border-color: #AFEB8F !important;
}

footer > p.reach{
    font-weight: 500;
    font-size: 20px !important;
}