*{
    font-family: 'Poppins', sans-serif;
}

.header .navbar{
    background-color: #002F7B !important;
}

.nav-link{
    color: #AFEB8F !important;
    /* margin: 1px; */
}

.nav-link:hover{
    color: aliceblue !important;
}

.navbar-toggler{
    margin-bottom: 5px;
    border: 2px solid #AFEB8F;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(175,235,143, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.nav-link.active{
    background-color: #AFEB8F !important;
    color: #002F7B !important;
    border-radius: 10px;
}

.content{
    background-color: #002F7B;
    color: #AFEB8F !important;
}

.text-body-secondary{
    color: #AFEB8F !important;
}

.content .container .row{
    border: 1px solid #AFEB8F;
    border-radius: 10px;
}

.footer{
    background-color: #002F7B;
}

.col h3{
    color: #AFEB8F !important;
}

footer .text-body-secondary{
    color: #AFEB8F !important;
}

footer > ul.border-bottom {
    border-color: #AFEB8F !important;
}

footer > p.reach{
    font-weight: 500;
    font-size: 20px !important;
}